.container {
  width: 80%;
  margin: 0 auto;
}
div {
  /* margin: 10px 0px; */
  padding: 10px 0px;
}

div.intro {
  margin-top: -300px;
}

img {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 55%;
  left: 60%;
  width: 40%;
  text-align: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img {
    width: 90%;
    top: 60%;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  img {
    top: 60%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img {
    width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  img {
    width: 40%;
  }
}
